.page-admin-config-socialflow table {

}

#block-socialflow-socialflow-quick-post {
  float:left;
}
#block-socialflow-socialflow-quick-post .form-submit,
#block-socialflow-socialflow-quick-post .form-item-must-send,
.node-form .form-item-must-send,
.node-form .form-item-resend,
#socialflow-batch-content-form .form-item-must-send{
  float:left;
  clear:left;
}
#block-socialflow-socialflow-quick-post .form-item-expires-time-hour,
#block-socialflow-socialflow-quick-post .form-item-expires-time-minute,
#block-socialflow-socialflow-quick-post .form-item-expires-time-meridian {
  float:left;
  width:5em;
}

#block-socialflow-socialflow-quick-post #edit-status div.form-item,
#socialflow-batch-content-form #edit-status div.form-item,
.node-form .form-item-socialflow-status .form-item {
  float:left; width:6.8em;margin-right:2em;
}

#block-socialflow-socialflow-quick-post .socialflow-character-limit,
#socialflow-batch-content-form .socialflow-character-limit,
.node-form .socialflow-character-limit {
  color:#CCC;
  float:right;
  position:relative;
  top:.65em;
}

.socialflow-logo {
  float:right;
  padding-top:20px;
/*  background: url(socialflow_logo_bw.jpg) no-repeat;*/
}

.socialflow-logo img{
  width:150px;
}
